<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Markdown Twitter thread</title>
    <meta name="description" content="Export a Twitter thread to Markdown format">
  </head>
  <body>
    <%== yield %>
  </body>
</html>
